/* ============================================================================ */
/* Global Styles */


/* set all large headings to display font */
h1{
    font-family: 'Monoton', cursive;
    color: #F18442;
}

h2,h3,h4,h5,h6,p,a{
    font-family: 'Dosis', sans-serif;
}

/* set page background colour to dark color */
body{
    background-color: #2b2b2b;
}

/* set text on page to white */
label, .form-text, p{
    color: white;
}

.form-text{
    color: red;
}



/*============================================================================================= */
/* Media Queries */
@media(min-width: 300px){

    h1{
        font-size: 16px;
    }

    /* fixing nav bar colours */
    .navbar-toggler{
        color: white;
        background-color: #F18442;
    }

    /* splash screen */
    /* -------------------------- */

    .splash-logo{
        width: 40%;
        height: auto;
    }

    /* ------------------------------------ */
    /* sign up/login screen */

    /* logo section */
    .logLogo{
        width: 40%;
        height: auto;
    }
    .signup-header{
        font-size: 24px;
    }
    /* form con */
    .form-con{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
        /* logo wall */
        .logo-wall{
            display: none;
        }

        /* footer */
        .footer-socials{
            text-align: center;
        }
        .footer-brand{
            text-align: center;
        }
        .footer-api{
            text-align: center;
        }

}

@media(min-width:576px){
    .splash-logo{
        width: 30%;
        height: auto;
    }
    /* -------------------------- */

    /* sign up/login screen */

    /* logo section */
    .logLogo{
        width: 0%;
    }
    .signup-header{
        font-size: 26px;
    }
    /* logo wall */
    .logo-wall{
        width: 35%;
        height: auto;
        display: flex;
    }

}

@media(min-width:768px){
    h1{
        font-size: 22px;
    }


    /* splash screen */
    /* -------------------------- */
    .splash-logo{
        width: 25%;
        height: auto;
    }

    .button-log{
        width: 80%;
        margin-left: 10%;
    }

    /* -------------------------- */
    /* sign up page */
    /* logo wall */
    .logo-wall{
        width: 35%;
        height: auto;
        display: flex;
    }
    .signup-header{
        font-size: 32px;
    }
     

}


@media(min-width:991px){
    /* Splash screen */
    .splash-logo{
        width: 20%;
        height: auto;
    }


    /* ------------------------------------ */
    /* sign up/login screen */

    /* logo section */
    .logLogo{
        width: 20%;
        height: auto;
    }
    .signup-header{
        font-size: 40px;
    }

    /* form con */
    .form-con{
        display: block;
    }
    .signup-form{
        width: 80%;
        margin-left: 10%;
        border: 2px solid #F18442;
        border-radius: 15px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    /* logo wall */
    .logo-wall{
        display: none;
    }

    /* footer */
    footer .row{
        display: table;
        text-align: center;
    }
    .footer-socials{
        display: table-cell;
        text-align: center;
    }
    .footer-brand{
        display: table-cell;
        text-align: center;
    }
    .footer-api{
        display: table-cell;
        text-align: center;
    }

}


@media(min-width:1200px){
    h1{
        font-size: 36px;
    }

    
    /* splash screen */
    /* -------------------------- */
    .logo-con{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .splash-logo{
        width: 20%;
        height: auto;
    }

    .button-log{
        width: 70%;
        margin-left: 15%;
    }


    /* sign up / login section */
    .signup-header{
        font-size: 48px;
    }
    .signup-form{
        width: 80%;
        margin-left: 10%;
        border: 2px solid #F18442;
        border-radius: 15px;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

}





/* ============================================================================ */
/* Nav Bar */

/* change the background colour of the navbar as a whole and add the border to create distinction */
.navbar{
    background-color: #2b2b2b !important;
    border-bottom: 3px solid #F18442;
}

/* styling nav bar logo */
.logo_title{
    /* Set the font and colour for the logo */
    font-family: 'Monoton', cursive;
    color: #F18442;
    /* correction on font size and vertical align */
    font-size: 24px;
    vertical-align: middle;
}

/* Styling for active nav link */
.active{
    color: #F18442 !important;
    font-weight: 800;
    border-bottom: 2px solid #F18442;
}

/* update width of nav links  */
.nav-item{
    display: flex;
    align-self: center;
    width: 25vh;
}

/* setting nav bar links to white */
.nav-link{
    color: white;
}


/* add hover effects on to nav links */
.nav-link:hover{
    color: #F18442 !important;
    font-weight: 800;
}

/* update horizontal alignment of nav links */
.navbar-nav{
    margin-left: 15%;
}


/* ============================================================================ */
/* Splash Screen */

.Welcome-splash, .Welcome-splash2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Welcome-splash h2{
    color: white;
}
.Welcome-splash2 h1{
    font-size: 32px;
}

.border-under-welcome{
    width: 70%;
    margin-left: 15%;
    border-radius: 5%;
    border-bottom: 1px solid white;
}

/* ============================================================================ */
/* Sign Up form */

/* override logo div display */
.logo-con,  .title-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Overriding bootstrap primary button style */
.btn-primary{
    width: 70%;
    margin-left: 15%;
    border-radius: 15px;
    background-color: #F18442;
    border: none;
}

/* Overriding bootstrap primary button style hover effect */
.btn-primary:hover{
    background-color: white;
    color: #F18442;
}

/* ============================================================================ */
/* footer */
.footer-con{
    width: 100%;
}

footer i {
    margin-left: 15px;
    margin-right: 15px  ;
}

.footer-api-img{
    margin-top: 7px;
}