
.style2{
    width: 40%;
    height: 100%;
    background-color:#2b2b3b;
    float: left;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
}

.style3{
    width: 60%;
    height: 100%;
    float: left;
    background-color: #2b2b3b;
}

.style4{
    width: 100%;
    height: 200px;
    background-color: #2b2b3b;
    border: solid #F18442 4px;
    border-radius: 5px; 
}

.style4:hover{
    border: solid aliceblue 4px;
}

.imagemovie11{
    width: 120px;
    height: 170px;
}

.col-md-4{
    height: 100%;
    height: 100%;
}

.card-title2{
    color: aliceblue;
    font-size: 10px;
}

.upvote1{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    background-image: url(/assets/logos/othumbsup.png);
    background-size: cover;
}

.upvote1:hover{
    background-image: url(/assets/logos/bthumbsup.png);
}

.downvote1{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: aliceblue;
    border: none;
    background-image: url(/assets/logos/othumbsdown.png);
    background-size: cover;
}

.downvote1:hover{
    background-image: url(/assets/logos/bthumbsdown.png);
}



.remove1{
float: right;
margin-top: 5%;
margin-right: 5%;
width: 25px;
height: 25px;
border-radius: 100%;
border: none;
background-image: url(/assets/logos/x.png);
background-size: cover;
}

.remove1:hover{
 background-image: url(/assets/logos/xhover.png);
}

.card-title{
    width: 100%;
    font-size: 10px;
}

.openreview{
    width: 25%;
    height: 250px;
    border-radius: 5px;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    text-align: center; 
    border: solid 5px #F18442;
    visibility: visible;
}

.review{
    width: 25%;
    height: 250px;
    border-radius: 5px;
    position: absolute;
    top : 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center; 
    border: solid 5px #F18442;
    visibility: hidden;
}

.containerreview{
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    opacity: 90%;
    padding-left: 10%;
}

.rheader{
    text-align: center;
    left: 50%;
}

.rinput{
    width: 90%;  
    margin-right: 10%;
    height: 55px;
    border-radius: 5px;
    text-align: left;
    padding: 5px;
}

.rlabel{
    float: left;
}

.rcheckbox{
    float: left;
    margin-top: 20px;
}

.rlabel2{
    float: right;
    margin-top: 13px;
    margin-left: 5px;
    margin-right: 38%;
}

.rsubmit{
    width: 30%;
    height: 40px;
    text-align: center;
    margin-top: 30px;
    margin-right: 10% ;
    background-color: #2b2b3b;
    border-radius: 10px;
    border: solid 2px #F18442;
    color: aliceblue;
}

.rsubmit:hover{
color: #2b2b2b;
background-color: #F18442;
}